*,
:before,
:after {
    box-sizing: border-box;
}
html {
    -webkit-text-size-adjust: 100%;
    background-color: var(--arc-palette-background);
    color: var(--arc-palette-maxContrastColor);
}
html:focus-within {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}
main {
    display: block;
}
h1 {
    margin: 0.67em 0;
    font-size: 2em;
}
hr {
    height: 0;
}
a {
    background-color: #0000;
}
b,
strong {
    font-weight: bolder;
}
pre,
code,
kbd,
samp {
    font-size: 1em;
}
small {
    font-size: 0.875rem;
}
sub,
sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
details {
    display: block;
}
summary {
    display: list-item;
}
abbr[title] {
    text-decoration: underline dotted;
}
html {
    scroll-behavior: smooth;
    max-width: 90ch;
    -moz-tab-size: 4;
    tab-size: 4;
    color: #1a1a1a;
    text-rendering: optimizelegibility;
    hyphens: auto;
    word-break: break-word;
    overflow-wrap: break-word;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    padding: 100px;
    font-family: Seravek, Gill Sans Nova, Ubuntu, Calibri, DejaVu Sans, source-sans-pro, sans-serif;
    font-size: 1.2em;
    line-height: 1.6;
}
@media (width<=1250px) {
    html {
        padding: 8vw;
    }
}
:focus-visible {
    outline: dotted;
}
.post-date {
    opacity: 0.6;
    font-size: 0.8em;
    font-style: italic;
}
article > section:first-child > a:first-child,
article > a:first-child,
footer a {
    text-decoration: none;
}
article > section:first-child > a:first-child:hover,
article > a:first-child:hover,
footer a:hover {
    color: #00f;
}
article > section:first-child > a:first-child h1,
article > a:first-child h1 {
    border-bottom: 1px solid #1a1a1a4d;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Iowan Old Style, Palatino Linotype, URW Palladio L, P052, serif;
}
footer {
    text-align: right;
    border-top: 1px solid #1a1a1a4d;
    margin-top: 1em;
    font-size: 95%;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    margin-top: 2rem;
    margin-bottom: 0.5em;
    line-height: 1.25;
}
article h1 {
    font-size: 2rem;
}
article h2 {
    font-size: 1.5rem;
}
article h3 {
    font-size: 1.25rem;
}
article h4 {
    font-size: 1rem;
}
article h5 {
    font-size: 0.875rem;
}
article h6 {
    font-size: 0.75rem;
}
a {
    color: inherit;
    text-underline-offset: 0.1em;
    text-decoration: underline 0.1em #00f;
}
a:hover {
    text-decoration: none;
}
code {
    background-color: #eee;
    padding: 0 0.3rem;
    font-family: ui-monospace, Cascadia Code, Source Code Pro, Menlo, Consolas, DejaVu Sans Mono, monospace;
    font-size: 0.8em;
}
pre {
    background-color: #eee;
    padding: 1em 1.5em;
    overflow-x: auto;
}
pre code {
    padding: 0;
}
img,
iframe,
video,
svg {
    max-width: 100%;
    height: auto;
    margin: 0.5rem auto;
    display: block;
}
mark {
    background-color: #00f3;
}
blockquote {
    color: #1a1a1acc;
}
table {
    border-collapse: collapse;
    width: 100%;
    text-indent: 0;
}
table caption {
    margin-bottom: 0.5rem;
}
tr {
    border-bottom: 1px solid var(--b-line);
}
td,
th {
    word-break: normal;
    padding: 0.5rem 0 0.5rem 1rem;
}
td:first-child,
th:first-child {
    padding-left: 0;
}
th {
    text-align: left;
}
hr {
    border: 0;
    border-bottom: 1px solid #1a1a1a4d;
}
.footnotes ol li:target {
    font-weight: 700;
}
.footnote-back {
    float: right;
    font-size: 0.8em;
    text-decoration: none;
}
.footnote-ref {
    text-decoration: none;
}
.footnote-ref sup:hover {
    background-color: #00f3;
}
.footnote-ref sup:before {
    content: "[";
}
.footnote-ref sup:after {
    content: "]";
}
:not(.katex-display) > .katex {
    font-size: 1em;
}
.katex-display > .katex > .katex-html {
    overflow: auto hidden;
}
dt {
    float: left;
    margin-right: 0.8em;
    font-weight: 700;
}
code span.al {
    font-weight: 700;
}
code span.an {
    font-style: italic;
}
code span.cf {
    font-weight: 700;
}
code span.co,
code span.cv,
code span.do {
    font-style: italic;
}
code span.dt {
    text-decoration: underline;
}
code span.er {
    font-weight: 700;
}
code span.in {
    font-style: italic;
}
code span.kw,
code span.pp {
    font-weight: 700;
}
code span.wa {
    font-style: italic;
}
.hl.num {
    color: #0086b3;
}
.hl.esc,
.hl.sng,
.hl.pps {
    color: #183691;
}
.hl.slc,
.hl.com {
    color: #969896;
}
.hl.ppc {
    color: #a71d5d;
}
.hl.opt {
    color: #000;
}
.hl.ipl {
    color: #183691;
}
.hl.lin {
    color: #b2b2b2;
    user-select: none;
}
.hl.hvr {
    cursor: help;
}
.hl.erm {
    color: red;
    border: 1px solid red;
    margin-left: 3em;
    font-weight: 700;
}
.hl.err {
    color: red;
    font-weight: 700;
}
.hl.kwa {
    color: #a71d5d;
}
.hl.kwb,
.hl.kwc,
.hl.kwd {
    color: #0086b3;
}
.hl.kwe {
    color: #a71d5d;
}
.hl.kwf {
    color: #38ae50;
}
