/* Normalize */
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  height: 0;
}

a {
  background-color: transparent;
}

b, strong {
  font-weight: bolder;
}

pre, code, kbd, samp {
  font-size: 1em;
}

small {
  font-size: 0.875rem;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

details {
  display: block;
}

summary {
  display: list-item;
}

abbr[title] {
  text-decoration: underline dotted;
}

/*! Normalize done */
/* Custom CSS */
html {
  scroll-behavior: smooth;
  max-width: 90ch;
  padding: 100px;
  line-height: 1.6;
  font-size: 1.2em;
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro, sans-serif;
  -moz-tab-size: 4;
  tab-size: 4;
  color: #1a1a1a;
  text-rendering: optimizeLegibility;
  hyphens: auto;
  word-break: break-word;
  overflow-wrap: break-word;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}
@media (max-width: 1250px) {
  html {
    padding: 8vw;
  }
}

*:focus-visible {
  outline: dotted;
}

.post-date {
  opacity: 0.6;
  font-style: italic;
  font-size: 0.8em;
}

article > section:first-child > a:first-child,
article > a:first-child,
footer a {
  text-decoration: none;
}
article > section:first-child > a:first-child:hover,
article > a:first-child:hover,
footer a:hover {
  color: blue;
}

article > section:first-child > a:first-child h1,
article > a:first-child h1 {
  border-bottom: 1px solid rgba(26, 26, 26, 0.3);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;
}

footer {
  margin-top: 1em;
  border-top: 1px solid rgba(26, 26, 26, 0.3);
  font-size: 95%;
  text-align: right;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
  line-height: 1.25;
  margin-top: 2rem;
  margin-bottom: 0.5em;
}
article h1 {
  font-size: 2rem;
}
article h2 {
  font-size: 1.5rem;
}
article h3 {
  font-size: 1.25rem;
}
article h4 {
  font-size: 1rem;
}
article h5 {
  font-size: 0.875rem;
}
article h6 {
  font-size: 0.75rem;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.1em;
}
a:hover {
  text-decoration: none;
}

code {
  padding: 0 0.3rem;
  background-color: #eee;
  font-size: 0.8em;
  font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
}

pre {
  background-color: #eee;
  padding: 1em 1.5em;
  overflow-x: auto;
}
pre code {
  padding: 0;
}

img, iframe, video, svg {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0.5rem auto;
}

mark {
  background-color: rgba(0, 0, 255, 0.2);
}

blockquote {
  color: rgba(26, 26, 26, 0.8);
}

table {
  border-collapse: collapse;
  width: 100%;
  text-indent: 0;
}

table caption {
  margin-bottom: 0.5rem;
}

tr {
  border-bottom: 1px solid var(--b-line);
}

td,
th {
  padding: 0.5rem 0 0.5rem 1rem;
  word-break: normal;
}
td:first-child,
th:first-child {
  padding-left: 0;
}

th {
  text-align: left;
}

hr {
  border: 0;
  border-bottom: 1px solid rgba(26, 26, 26, 0.3);
}

.footnotes ol li:target {
  font-weight: bold;
}

.footnote-back {
  float: right;
  font-size: 0.8em;
  text-decoration: none;
}

.footnote-ref {
  text-decoration: none;
}
.footnote-ref sup:hover {
  background-color: rgba(0, 0, 255, 0.2);
}
.footnote-ref sup:before {
  content: "[";
}
.footnote-ref sup:after {
  content: "]";
}

:not(.katex-display) > .katex {
  font-size: 1em;
}

.katex-display > .katex > .katex-html {
  overflow-x: auto;
  overflow-y: hidden;
}

dt {
  font-weight: bold;
  float: left;
  margin-right: 0.8em;
}

/* Highlight for Pandoc */
code span.al {
  font-weight: bold;
} /* Alert */
code span.an {
  font-style: italic;
} /* Annotation */
code span.cf {
  font-weight: bold;
} /* ControlFlow */
code span.co {
  font-style: italic;
} /* Comment */
code span.cv {
  font-style: italic;
} /* CommentVar */
code span.do {
  font-style: italic;
} /* Documentation */
code span.dt {
  text-decoration: underline;
} /* DataType */
code span.er {
  font-weight: bold;
} /* Error */
code span.in {
  font-style: italic;
} /* Information */
code span.kw {
  font-weight: bold;
} /* Keyword */
code span.pp {
  font-weight: bold;
} /* Preprocessor */
code span.wa {
  font-style: italic;
} /* Warning */
/* Higlight for andre-simon/highlight */
.hl.num {
  color: #0086b3;
}

.hl.esc {
  color: #183691;
}

.hl.sng {
  color: #183691;
}

.hl.pps {
  color: #183691;
}

.hl.slc {
  color: #969896;
}

.hl.com {
  color: #969896;
}

.hl.ppc {
  color: #a71d5d;
}

.hl.opt {
  color: #000000;
}

.hl.ipl {
  color: #183691;
}

.hl.lin {
  color: #b2b2b2;
  user-select: none;
}

.hl.hvr {
  cursor: help;
}

.hl.erm {
  color: #ff0000;
  font-weight: bold;
  border: solid 1px red;
  margin-left: 3em;
}

.hl.err {
  color: #ff0000;
  font-weight: bold;
}

.hl.kwa {
  color: #a71d5d;
}

.hl.kwb {
  color: #0086b3;
}

.hl.kwc {
  color: #0086b3;
}

.hl.kwd {
  color: #0086b3;
}

.hl.kwe {
  color: #a71d5d;
}

.hl.kwf {
  color: #38ae50;
}

/*# sourceMappingURL=main.css.map */
